nav{
    background-image:url(../foto/navbg.png);
    padding: 20px;
    border-bottom: outset;
    border-color: black;
  }

  .navigatie{
    padding: 15px 0px;
    margin-left: 40px;
  }

  .cod
  {
    width: 3%;
  }

  .codw{
    width: 70%;
  }

  .codmw{
    width: 60%;
  }

  button{
    padding: 20px 50px;
    border-radius: 15px;
    border-color: rgb(178, 178, 178);
    background-color: black;
    color: white;
  }


  a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-weight: 60;
}

a {
    width: 10vw;
    padding: 15px 20px;
    border-radius: 1px;
    border-color: rgb(178, 178, 178);
    font-weight: 300;
  }

  body{
    background-image:url(../foto/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section1 {
    display: flex;
    width: 70vw;
    margin: 1vw auto;
    justify-content: space-around;
  }

  h1 {
    font-family:Copperplate;
    font-weight: 600;
    color: white;
  }
  
  h2 {
    font-weight: 600;
    color: white;
  }

  p{
    color: white;
  }

  .preformence{
    background-image:url(../foto/sectionbg.png);
    display: flex;
    margin: 1vw auto;
  }

  .specs{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 1vw auto;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #000000;
    color: darkgray;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  footer{
    background-color: #000000;
    opacity: 0,5;
    text-align: center;
  }
